 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     font-family: 'Montserrat', sans-serif;
     background: #0a0a0a;
     color: white;
 }

 section {
     padding: 80px 20px;
     text-align: center;
 }

 h1 {
     font-size: 60px;
     margin-bottom: 20px;
 }

 h2 {
     font-size: 40px;
     margin-bottom: 40px;
     color: #ff0055;
 }

 /* ===== HEADER ===== */
 header {
     position: fixed;
     top: 0;
     width: 100%;
     background: black;
     padding: 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-bottom: 2px solid #ff0055;
     z-index: 100;
 }

 .logo {
     font-size: 24px;
     font-weight: 900;
     color: #ff0055;
 }

 nav {
     display: flex;
     gap: 30px;
 }

 nav a {
     color: white;
     text-decoration: none;
     font-weight: 700;
 }

 nav a:hover {
     color: #ff0055;
 }

 /* Бургер */
 .burger {
     display: none;
     background: none;
     border: none;
     color: #ff0055;
     font-size: 30px;
     cursor: pointer;
 }

 footer {
     padding: 30px;
     text-align: center;
     background-color: black;
     border-top: 2px solid #ff0055;
 }

 /* Dropdown меню */
 .menu {
     display: none;
     position: absolute;
     top: 70px;
     right: 20px;
     background: black;
     padding: 20px;
     border: 2px solid #ff0055;
     border-radius: 10px;
 }

 /* ===== HERO ===== */
 .hero {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background:
         linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
         url('https://images.unsplash.com/photo-1493225255756-d9584f8606e9?w=1920') center/cover;
 }

 .hero p {
     font-size: 20px;
     color: #00ccff;
     margin-bottom: 40px;
 }

 .timer {
     display: flex;
     gap: 20px;
     margin-bottom: 10px;

 }

 .timer div {
     border: 3px solid rgb(255, 12, 53);
     padding: 20px;
     background-color: rgba(68, 24, 24, 0.5);
     border-radius: 10px;
     min-width: 80px;
 }

 .timer span {
     display: block;
     font-size: 40px;
     font-weight: 900;
     color: rgb(166, 48, 50);
 }

 .timer small {
     display: block;
     font-size: 15px;
     margin-top: 5px;
     color: rgb(64, 190, 228);
 }

 .btn {
     background-color: rgb(158, 4, 4);
     color: azure;
     /* width: 100px; */
     text-decoration: none;
     border: none;
     border-radius: 50px;
     font-size: 15px;
     font-weight: 700;
     padding: 15px 40px;
     margin-top: 20px;
 }

 /* ===== АДАПТИВНІСТЬ ===== */
 @media (max-width: 768px) {
     nav {
         display: none;
     }

     .burger {
         display: block;
     }

     h1 {
         font-size: 40px;
     }

     .timer {
         gap: 10px;
     }

     .timer div {
         min-width: 60px;
         padding: 15px;
     }

     .timer span {
         font-size: 28px;
     }

     .swiper-slide img {
         height: 300px;
     }

     .swiper-button-next,
     .swiper-button-prev {
         width: 35px;
         height: 35px;
     }

     .swiper-button-next::after,
     .swiper-button-prev::after {
         font-size: 14px;
     }
 }

 .menu.open {
     display: flex;
     flex-direction: column;
     gap: 15px;
 }

 .menu {
     display: none;
     position: absolute;
     top: 70px;
     right: 20px;
     background: #080202;
     padding: 20px;
     border: 3px solid rgb(255, 23, 62);
     border-radius: 10px;
 }

 .menu a {
     text-decoration: none;
     padding: 10px 20px;
     background-color: rgba(156, 7, 7, 0.5);
     border-radius: 10px;
     text-align: center;
     color: #f5f1f1;
 }

 #gallery {
     background-color: #111;

 }

 .swiper {
     width: 100%;
     padding: 50px 0;
 }

 .swiper-slide {
     width: 300px;
     max-width: 90vw;
 }

 .swiper-slide img {
     width: 100%;
     height: 400px;
     border: 3px solid rgb(255, 23, 62);
     border-radius: 10px;
     object-fit: cover;
 }

 .swiper-button-next,
 .swiper-button-prev {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     color: rgb(255, 23, 62);
     background-color: rgba(0, 0, 0, 0.5);
 }

 .swiper-pagination-bullet {
     background-color: #ff0055;
     opacity: 0.5;
 }

 .swiper-pagination-bullet-active {
     background-color: #00ccff;
     opacity: 1;
 }

 .swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 18px;
}

#join{
    background-color: #080202;
}
form{
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;

}
input{
    padding: 15px;
    border: 3px solid rgb(255, 23, 62);
    background-color: #2d2b2b;
    color: #ffffff;
    font-size: 16px;
    border-radius: 10px;
    
    
}
input::placeholder {
    color: rgba(197, 196, 196,0.7);
}
input:focus{
    border-color: #00ccff;
    outline: none;
}

.error-text,.error-email{
    color: #e74c3c;
    font-size: 12px;
    display: none; 
}

.input-group{
   display:  flex ;
   flex-direction: column;
   gap: 5px;
}
.input-group.error input {
border-color: #ff0000;
background-color: rgba(17, 17, 17,0.1);

}
.input-group.error .error-text{
    display: block;
}
.input-group.error .error-email{
    display: block;
}